body p{
    font-size: 20px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 0 5% 5% 5%;
}
.half-width img{
    width: 100%;
    border-radius: 10%;
}
#top-header{
    font-family: cursive;
    border-left: 5px solid violet;
    padding: 0 0 0 2%;
    border-radius: 3px;
    font-size: 30px;
}
.color-a-portion{
    color: brown;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 600;
}
#mission-header{
    text-align: center;
    font-size: 50px;
}
.one-third{
    width: 33%;
    padding: 0 5% 5% 5%;
    border-radius: 20px;
    margin: 5% 5%;
}
.one-third img{
    width: 75%;
    padding: 5% 5%;
    border-radius: 100%;
}
#mission-bg{
    background-color: burlywood;
}
#vision-bg{
    background-color: rgb(117, 94, 34);
}
#goal-bg{
    background-color: gainsboro;
}
footer{
    text-align: center;
    background-color: black;
}
footer h1{
    font-family: 'Shadows Into Light', cursive;
}
#footer-h1-left{
    color: white;
}
#footer-h1-right{
    color: orangered;
}
footer p{
    color: palegoldenrod;
}